<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <!--不支持老版本IE-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--device-width自适应移动端宽度，initial-scale=1不进行缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>BLOG</title>
    <!-- Bootstrap 核心样式文件 -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <link href="/stylesheets/tags.css"  rel="stylesheet">
<style>

</style>
</head>
<body data-spy="scroll" data-target="sidebarMenu">





<script src="/js/jquery.min.js"></script>
<!---bootstrap的核心JS文件必须放在jQuery文件之后，因为bootstrap基于jQuery -->
<script src="/js/bootstrap.min.js"></script>



<!-----------------------------------------导航条设计开始--------------------------------->
<!--黑色导航条样式为navbar-inverse，白色样式为default ，.navbar-fixed-top导航条固定在顶端-->
<div class="row bg1">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!------button为实现响应式布局，如果在手机上查看，点击button就可以弹出菜单---->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ShareGIS</a><!---log的地方-->
            </div>
            <!-- 当浏览器小于某个值时，点击button图标显示导航条的内容（注意这里的id与button 的id对应）—>
               <!--具体菜单项-->
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav" style="margin-left: 70px;">
                    <li ><a href="my">首页 <span class="sr-only">(current)</span></a></li><!--普通菜单-->
                    <li><a href="timeline"><i class="glyphicon glyphicon-calendar"></i>&nbsp;归档</a></li>
                    <li class="active"><a href="tags"><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;标签</a></li>
                    <li><a href="Category"><i class="glyphicon glyphicon-th"></i>&nbsp;分类</a></li>
                    <li  ><a href="Search"><i class="glyphicon glyphicon-search"></i>&nbsp;搜索</a></li>
                    <li><a href="Speakings"><i class="glyphicon glyphicon-comment"></i>&nbsp;留言板</a></li>
                    <li ><a href="About"><i class="glyphicon glyphicon-user"></i>&nbsp;关于我</a></li>
                </ul>

            </div><!-- /.container-fluid -->
        </div>
    </nav>

    <div  style="height: 200px;"></div>
    <div style="height: 400px;">
        <section class="container-fluid" >
            <div >
                <h1 class="text-center">My BloG</h1>
                <h1 class="text-center ">Change It To Say <b>Something</b> Unique</h1>
            </div>
            <div style="height: 70px;"></div>
            <div class="container " style=" margin: auto">
                <div class="row text-center ">
                    <ul class="col-xs-offset-3 col-xs-6 ">
                        <li style="display: inline">
                            <a   href="https://user.qzone.qq.com/2084859617"><img class="center-block Brand" src="/imgs/qq.png"> </a>
                        </li> &nbsp;
                        <li style="display: inline">
                            <a  href="#"><img class=" center-block Brand" src="/imgs/Twitter.png"/></a>
                        </li>
                        &nbsp;
                        <li style="display: inline">
                            <a  href="#"><img class="Brand" src="/imgs/facebook.png"></a>
                        </li>
                        &nbsp;
                        <li  style="display: inline">
                            <a  href="#"><img class=" Brand" src="/imgs/GitHub.png"></a>
                        </li>
                        &nbsp;
                        <li  style="display: inline">
                            <a  href="#"><img class="Brand" src="/imgs/csdn%20(1).png"></a>
                        </li>
                        &nbsp;
                        <li style="display: inline">
                            <a  href="#"><img class="Brand" src="/imgs/微博.png"></a>
                        </li>
                    </ul></div>
                <div style="height: 50px;"></div>
            </div>
        </section>
    </div>
    <!------------------------------------------导航条结束-------------------------------->
</div>

<div class="container-fluid" style="margin-top: 50px">
    <div class="col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12 chip-container">

        <div id="tags" style="margin-top: 50px; margin-bottom: 100px;">
        <div class="card">
            <div class="card-content">
                <div class="tag-title text-center" style="padding-top: 20px;">文章标签</div>
                <div class="tag-chips">

                    <% for(var i = 0; i < json.length; i++){ %>
                        <% if(i % 3 == 0){ %>
                        <a href="tagsfind?tag=<%= json[i].tag %>" title="">
                        <span class="chip center-align waves-effect waves-light
                                 chip-default " data-tagname="Hexo" style="background-color: #F9EBEA;"><%= json[i].tag %>
                            <!--<span class="tag-length">2</span>-->
                        </span>
                        </a>
                        <% }else if(i % 3 == 1){ %>
                        <a href="tagsfind?tag=<%= json[i].tag %>" title="">
                            <span class="chip center-align waves-effect waves-light
                                     chip-default " data-tagname="Hexo" style="background-color:#F5EEF8;"><%= json[i].tag %>
                                <!--<span class="tag-length">2</span>-->
                            </span>
                        </a>
                        <% }else{ %>
                        <a href="tagsfind?tag=<%= json[i].tag %>" title="">
                                <span class="chip center-align waves-effect waves-light
                                         chip-default " data-tagname="Hexo" style="background-color:#D5F5E3;"><%= json[i].tag %>
                                    <!--<span class="tag-length">2</span>-->
                                </span>
                        </a>
                        <% } %>
                    <% } %>


                    <!--<a href="/tags/JavaScript/" title="JavaScript: 4">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="JavaScript" style="background-color: #F5EEF8;">JavaScript-->
                        <!--<span class="tag-length">4</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/Java/" title="Java: 37">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="Java" style="background-color: #D5F5E3;">Java-->
                        <!--<span class="tag-length">37</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/面向对象编程/" title="面向对象编程: 3">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="面向对象编程" style="background-color: #E8F8F5;">面向对象编程-->
                        <!--<span class="tag-length">3</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/UML/" title="UML: 2">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="UML" style="background-color: #FEF9E7;">UML-->
                        <!--<span class="tag-length">2</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/PostgreSQL/" title="PostgreSQL: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="PostgreSQL" style="background-color: #F8F9F9;">PostgreSQL-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/数据库/" title="数据库: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="数据库" style="background-color: #82E0AA;">数据库-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/CPU缓存/" title="CPU缓存: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="CPU缓存" style="background-color: #D7BDE2;">CPU缓存-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/整洁代码/" title="整洁代码: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="整洁代码" style="background-color: #A3E4D7;">整洁代码-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/重构/" title="重构: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="重构" style="background-color: #85C1E9;">重构-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/测试/" title="测试: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="测试" style="background-color: #F8C471;">测试-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/MVEL/" title="MVEL: 2">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="MVEL" style="background-color: #F9E79F;">MVEL-->
                        <!--<span class="tag-length">2</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/Linux/" title="Linux: 4">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="Linux" style="background-color: #E8F8F5;">Linux-->
                        <!--<span class="tag-length">4</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/Typora/" title="Typora: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="Typora" style="background-color: #F8F9F9;">Typora-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/Markdown/" title="Markdown: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="Markdown" style="background-color: #F8F9F9;">Markdown-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/Vue/" title="Vue: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="Vue" style="background-color: #D5F5E3;">Vue-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/设计模式/" title="设计模式: 12">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="设计模式" style="background-color: #85C1E9;">设计模式-->
                        <!--<span class="tag-length">12</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/Google/" title="Google: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="Google" style="background-color: #D7BDE2;">Google-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/设计原则/" title="设计原则: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="设计原则" style="background-color: #FEF9E7;">设计原则-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/Spring/" title="Spring: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="Spring" style="background-color: #F9E79F;">Spring-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/Git/" title="Git: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="Git" style="background-color: #F9E79F;">Git-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/Apache/" title="Apache: 4">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="Apache" style="background-color: #82E0AA;">Apache-->
                        <!--<span class="tag-length">4</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/GitLab-CI/" title="GitLab CI: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="GitLab CI" style="background-color: #85C1E9;">GitLab CI-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/DevOps/" title="DevOps: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="DevOps" style="background-color: #F8F9F9;">DevOps-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/Jenkins/" title="Jenkins: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="Jenkins" style="background-color: #D7BDE2;">Jenkins-->
                        <!--<span class="tag-length">1</span>-->
                    <!--</span>-->
                    <!--</a>-->


                    <!--<a href="/tags/单元测试/" title="单元测试: 1">-->
                    <!--<span class="chip center-align waves-effect waves-light-->
                             <!--chip-default " data-tagname="单元测试" style="background-color: #D7BDE2;">单元测试-->
                        <!--<span class="tag-length">1</span>-->
                    </span>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1 col-lg-1  hidden-sm hidden-xs "  ></div>
    <div class="col-md-4 hidden-xs  col-lg-4 hidden-sm"  >
        <section class="site-overview " style="opacity: 1; display: block; transform: translateY(0px);">
            <div class="site-author">
                <img class="site-author-image center-block" src="/imgs/b.jpg" style="height: 70px; width:70px; border: #0f0f0f 1px solid ">
                <p class="site-author-name text-center">Cythnia</p>
                <p class="site-description  text-center">Stay hungry! Stay foolish!</p>
            </div>
            <nav class="site-state ">
                <div class="site-state-item site-state-posts">
                    <a href="#">
                        <span class="site-state-item-count">15</span>
                        <span class="site-state-item-name">articles</span>
                    </a>
                </div>


                <div class="site-state-item site-state-categories">
                    <a href="#">
                        <span class="site-state-item-count">4</span>
                        <span class="site-state-item-name">categories</span>
                    </a>
                </div>                <div class="site-state-item site-state-categories">
                <a href="#">
                    <span class="site-state-item-count">35</span>
                    <span class="site-state-item-name">tags</span>
                </a>
            </div>

            </nav>
            <div class="feed-link motion-element center-block" style="width: 60%;">
                <a href="/rss2.xml" rel="alternate">
                    RSS
                </a>
            </div>
        </section>
    </div>











</div>

</body>
<SCRIPT>
    $('.container-fluid').hide();
    $(window).load(function(event){
        setTimeout(function () {
            $(".container-fluid").fadeIn(300);
        }, 500);
    })

</SCRIPT>

</html>